@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

$font: "Nunito", "Poppins", sans-serif;
$color-black: #0f0f0f;
$color-white: #fff;
$color-main: #1dabad;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: $font;
    transition: 0.2s linear;
}
html,
body {
    height: 100%;
}
section.app {
    height: 100%;
    width: 100%;
    display: flex;
    .sidebar {
        min-width: 96px;
        height: 100%;
        background: #f9f9f9;
        border-right: 2px solid #e3e3e35b;
        display: flex;
        flex-direction: column;
        align-items: center;
        .top {
            margin-top: 24px;
            input {
                display: none;
            }
            label {
                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            height: calc(100% - 96px);
            button {
                height: 48px;
                width: 48px;
                border-radius: 4px;
                background: transparent;
                font-size: 22px;
                color: #929292;
                cursor: pointer;
                &.active,
                &:hover {
                    background: #1daaad25;
                    color: $color-main;
                }
            }
        }
        .menu-bottom {
            margin-bottom: 24px;
            button {
                height: 48px;
                width: 48px;
                border-radius: 4px;
                background: transparent;
                font-size: 22px;
                color: #929292;
                cursor: pointer;
                &.active,
                &:hover {
                    background: #1daaad25;
                    color: $color-main;
                }
            }
        }
        .account-settings {
            position: fixed;
            height: 64px;
            width: 156px;
            background: #1daaad25;
            bottom: 14px;
            left: 96px;
            border-radius: 0 4px 4px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            &.show {
                opacity: 1;
                pointer-events: all;
            }
            span {
                font-size: 16px;
                font-weight: 700;
                color: $color-main;
                i {
                    margin-right: 4px;
                }
            }
        }
    }
    .chat-container {
        width: calc(100% - 96px);
        height: 100%;
        display: flex;
        .friends {
            border-right: 2px solid #e3e3e35b;
            min-width: 356px;
            height: 100%;
            background: #f9f9f9;
            display: flex;
            flex-direction: column;
            .navbar {
                min-height: 96px;
                border-bottom: 2px solid #e3e3e35b;
                display: flex;
                align-items: center;
                padding: 0 24px;
                gap: 8px;
                img {
                    height: 48px;
                    width: 48px;
                    border-radius: 4px;
                }
                h1 {
                    font-weight: 700;
                    color: $color-black;
                    font-size: 28px;
                }
            }
            .friends-list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                .heading {
                    padding: 16px 4px;
                    span {
                        color: $color-black;
                        font-weight: 800;
                        font-size: 18px;
                    }
                    button {
                        height: 28px;
                        width: 28px;
                        background: #1daaad25;
                        color: $color-main;
                        border-radius: 4px;
                        float: right;
                        cursor: pointer;
                        margin-left: 8px;
                        &#addFriendSubmit {
                            margin-left: 0;
                        }
                    }
                    div {
                        opacity: 0;
                        height: 0;
                        margin-top: 0;
                        pointer-events: none;
                        display: flex;
                        align-items: center;
                        &.show {
                            margin-top: 16px;
                            opacity: 1;
                            height: 42px;
                            pointer-events: all;
                        }
                        input {
                            display: flex;
                            width: 100%;
                            height: 42px;
                            border-radius: 4px 0 0 4px;
                            background: #1daaad25;
                            padding: 3px 9px;
                            font-weight: 600;
                            color: $color-main;
                            &::placeholder {
                                color: #929292;
                            }
                        }
                        button {
                            float: none;
                            min-width: 42px;
                            min-height: 42px;
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }
                .friend {
                    width: 100%;
                    min-height: 72px;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    border-radius: 4px;
                    padding: 0 8px;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        background: #e3e3e35b;
                    }
                    img {
                        height: 56px;
                        width: 56px;
                        border-radius: 4px;
                    }
                    div {
                        h2 {
                            font-weight: 800;
                            font-size: 15px;
                        }
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            color: #929292;
                        }
                    }
                }
            }
        }
        .chat {
            width: 100%;
            height: 100%;
            background: #f9f9f9;
            .navbar {
                min-height: 96px;
                border-bottom: 2px solid #e3e3e35b;
                display: flex;
                align-items: center;
                padding: 0 24px;
                gap: 8px;
                img {
                    height: 48px;
                    width: 48px;
                    border-radius: 4px;
                }
                div.options {
                    display: flex;
                    justify-content: flex-end;
                    width: -webkit-fill-available;
                    button {
                        float: right;
                        height: 32px;
                        width: 32px;
                        background: transparent;
                        color: $color-main;
                        font-size: 18px;
                        border-radius: 4px;
                        cursor: pointer;
                        &:hover {
                            background: #1daaad25;
                        }
                    }
                }
                div.info {
                    h1 {
                        font-weight: 800;
                        color: $color-black;
                        font-size: 16px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: #929292;
                        font-weight: 600;
                        font-size: 13px;
                        width: max-content;
                        .status {
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            background: $color-main;
                            &.offline {
                                background: #a4a4a4;
                            }
                        }
                        button {
                            height: 26px;
                            width: 26px;
                            background: #1daaad25;
                            color: $color-main;
                            border-radius: 4px;
                            cursor: pointer;
                            margin-left: 8px;
                        }
                    }
                }
                #addUserDiv, #changeGroupDiv {
                    opacity: 0;
                    height: 0;
                    margin-top: 0;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    position: fixed;
                    top: 98px;
                    &.show {
                        margin-top: 16px;
                        opacity: 1;
                        height: 42px;
                        pointer-events: all;
                    }
                    input {
                        display: flex;
                        width: 100%;
                        height: 42px;
                        border-radius: 4px 0 0 4px;
                        background: #1daaad25;
                        padding: 3px 9px;
                        font-weight: 600;
                        color: $color-main;
                        &::placeholder {
                            color: #929292;
                        }
                    }
                    button {
                        float: none;
                        min-width: 42px;
                        min-height: 42px;
                        border-radius: 0 4px 4px 0;
                        height: 28px;
                        width: 28px;
                        background: #1daaad25;
                        color: $color-main;
                        cursor: pointer;
                    }
                }
            }
            .chat-messages {
                height: calc(100% - 96px);
                display: flex;
                flex-direction: column;
               
                .messages {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    background: #f3f3f3;
                    padding: 16px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .first-message {
                        width: calc(100% - 32px);
                        height: fit-content;
                        background: rgba(29, 170, 173, 0.1450980392);
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px 9px;
                        margin: 0 auto;
                        margin-bottom: 32px;
                        text-align: center;
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $color-main;
                            font-weight: 600;
                        }
                    }
                    .message {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        img {
                            max-height: 156px;
                            width: 48px;
                            border-radius: 50%;
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            h2 {
                                font-weight: 800;
                                color: $color-black;
                                font-size: 14px;
                            }
                            span {
                                background: $color-white;
                                padding: 3px 9px;
                                color: $color-black;
                                font-weight: 600;
                                border-radius: 0 16px 16px 16px;
                                display: flex;
                                overflow-wrap: anywhere;
                                position: relative;
                                img,
                                video {
                                    border-radius: 4px;
                                    width: fit-content;
                                    object-fit: contain;
                                    max-height: 156px;
                                }
                                a {
                                    position: absolute;
                                    left: -4px;
                                    bottom: -12px;
                                    cursor: pointer;
                                }
                            }
                        }
                        #message-options {
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            button {
                                height: 32px;
                                width: 32px;
                                background: #1daaad25;
                                color: $color-main;
                                font-size: 18px;
                                border-radius: 50%;
                                cursor: pointer;
                                opacity: 0;
                                pointer-events: none;
                            }
                        }
                        &:hover {
                            #message-options {
                                button {
                                    opacity: 1;
                                    pointer-events: all;
                                }
                            }
                        }
                        &.author {
                            justify-content: flex-end;
                            div {
                                h2 {
                                    text-align: right;
                                }
                                span {
                                    border-radius: 16px 0 16px 16px;
                                }
                            }
                            #message-options {
                                flex-direction: row;
                                justify-content: flex-end;
                            }
                        }
                    }
                }
                .send-messages {
                    min-height: 86px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 2px solid #e3e3e35b;
                    gap: 16px;
                    position: relative;
                    .emojis-popup {
                        position: absolute;
                        left: 16px;
                        bottom: 102px;
                        z-index: 1;
                        height: 156px;
                        width: 256px;
                        background: $color-white;
                        padding: 0 16px;
                        overflow-y: auto;
                        border-radius: 4px;
                        opacity: 0;
                        pointer-events: none;
                        &.show {
                            opacity: 1;
                            pointer-events: all;
                        }
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        ul {
                            &:nth-child(1) {
                                display: flex;
                                margin-bottom: 12px;
                                position: fixed;
                                background: #fff;
                                padding: 8px 0;
                                a {
                                    font-size: 14px;
                                    height: 32px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: auto;
                                    width: 32px;
                                    color: $color-main;
                                }
                            }
                            &:nth-child(2) {
                                margin-top: 48px;
                            }
                            &.emoji-list {
                                margin-bottom: 16px;
                            }
                            button,
                            a {
                                height: 32px;
                                width: 32px;
                                background: transparent;
                                font-size: 18px;
                                cursor: pointer;
                                border-radius: 50%;
                                &:hover {
                                    background: #1daaad25;
                                }
                            }
                        }
                    }
                    .input {
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button {
                            height: 42px;
                            width: 42px;
                            background: #f1f0f7;
                            border-radius: 16px 0 0 16px;
                            color: #a9abac;
                            cursor: pointer;
                            &:hover {
                                color: $color-main;
                            }
                        }
                        form {
                            width: 100%;
                        }
                        input {
                            width: 100%;
                            height: 42px;
                            padding: 3px 9px;
                            background: #f1f0f7;
                            border-radius: 0 16px 16px 0;
                            font-weight: 600;
                            color: $color-main;
                            &::placeholder {
                                color: #929292;
                            }
                        }
                    }
                    .options {
                        display: flex;
                        gap: 16px;
                        button {
                            height: 42px;
                            width: 42px;
                            background: #f1f0f7;
                            border-radius: 16px;
                            color: #a9abac;
                            cursor: pointer;
                            &:hover {
                                color: $color-main;
                                background: #1daaad25;
                            }
                        }
                        input {
                            display: none;
                        }
                        label {
                            height: 42px;
                            width: 42px;
                            background: #f1f0f7;
                            border-radius: 16px;
                            color: #a9abac;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                color: $color-main;
                                background: #1daaad25;
                            }
                        }
                    }
                }
            }
        }
    }
    .user-manage {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        pointer-events: none;
        .bg-blur {
            height: 100%;
            width: 100%;
            backdrop-filter: blur(5px);
            opacity: 0;
            pointer-events: none;
        }
        .container {
            background: #0f0f0f;
            height: fit-content;
            width: 405px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding: 16px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
            pointer-events: all;
            &.hide {
                opacity: 0;
                pointer-events: none;
            }
            .top {
                img {
                    height: 64px;
                }
            }
            .top_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                h2 {
                    color: $color-white;
                    font-weight: 700;
                    margin-top: 16px;
                }
                p {
                    color: #a4a4a4;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            form {
                margin-top: 16px;
                width: 100%;
                gap: 16px;
                display: flex;
                flex-direction: column;
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    input {
                        width: 100%;
                        height: 32px;
                        padding: 3px 9px;
                        border-radius: 4px;
                        background: #ffffff35;
                        color: $color-main;
                        font-weight: 600;
                        border: 2px solid transparent;
                        transition: 0.2s linear;
                        &.error {
                            border: 2px solid #ff2200a1;
                        }
                        &::placeholder {
                            color: #a4a4a4;
                        }
                        &:focus {
                            border: 2px solid $color-main;
                        }
                    }
                    i {
                        position: absolute;
                        right: 8px;
                        color: $color-white;
                        bottom: 8px;
                        cursor: pointer;
                    }
                    span {
                        color: $color-white;
                        font-weight: 500;
                        font-size: 13px;
                        margin-bottom: 4px;
                    }
                }
                button {
                    height: 36px;
                    width: calc(100% - 64px);
                    margin: auto;
                    border-radius: 4px;
                    margin-top: 32px;
                    cursor: pointer;
                    background: $color-main;
                    color: $color-white;
                    font-weight: 600;
                    font-size: 16px;
                    position: relative;
                    overflow: hidden;
                    transition: 0.2s linear;
                    &:hover {
                        box-shadow: 0 0px 5px 2px #272e347b;
                        filter: brightness(1.1);
                    }
                }
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 4px;
                    color: $color-white;
                    font-weight: 600;
                    span {
                        color: $color-main;
                        cursor: pointer;
                        transition: 0.2s linear;
                        &:hover {
                            filter: brightness(1.2);
                        }
                    }
                }
            }
        }
        &.show {
            pointer-events: all;
            .bg-blur {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .call-screen {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #f3f3f3;
        z-index: 1;
        display: flex;
        flex-direction: column;
        display: none;
        &.show {
            display: flex;
        }
        .screens {
            padding: 64px;
            display: flex;
            justify-content: space-around;
            .screen {
                width: 596px;
                height: 296px;
                border-radius: 4px;
                background: #fff;
                video {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
        }
        .options {
            padding: 64px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 48px;
            height: 100%;
            button {
                height: 42px;
                width: 42px;
                background: #1daaad25;
                color: $color-main;
                border-radius: 4px;
                cursor: pointer;
                &.disable {
                    background: #ad1d1d25;
                    color: #ad1d1d;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    section.app {
        .call-screen {
            .screens {
                .screen {
                    width: 475px;
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    section.app {
        .call-screen {
            .screens {
                .screen {
                    width: 405px;
                }
            }
        }
        .chat-container {
            .chat {
                .chat-messages {
                    .send-messages {
                        .input {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    section.app {
        .call-screen {
            .screens {
                .screen {
                    width: 355px;
                }
            }
        }
        .chat-container {
            .chat {
                .chat-messages {
                    .send-messages {
                        .input {
                            width: 60%;
                        }
                    }
                    .messages {
                        .message {
                            div {
                                span {
                                    img, video {
                                        width: 205px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section.app {
        .call-screen {
            .screens {
                flex-direction: column;
                align-items: center;
                gap: 16px;
                padding: 32px;
                .screen {
                    width: calc(100% - 32px);
                }
            }
            .options {
                padding: 0;
                align-items: flex-start;
            }
        }
        .sidebar {
            min-width: 72px;
        }
        .chat-container {
            width: calc(100% - 72px);
            .friends {
                min-width: 256px;
            }
            .chat {
                .chat-messages {
                    .send-messages {
                        .input {
                            width: 50%;
                        }
                    }
                    .messages {
                        .message {
                            div {
                                span {
                                    img, video {
                                        width: 175px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section.app {
        .user-manage {
            .container {
                width: calc(100% - 32px);
            }
        }
        .sidebar {
            min-width: 72px;
        }
        .chat-container {
            width: calc(100% - 72px);
            .friends {
                min-width: 100%;
                &.hide {
                    display: none;
                }
            }
            .chat {
                display: none;
                &.show {
                    display: block;
                }
                .chat-messages {
                    .send-messages {
                        .input {
                            width: 60%;
                        }
                    }
                    .messages {
                        .message {
                            div {
                                span {
                                    img, video {
                                        width: 175px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
